.git
.github
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
build
dist
docs
tests
logo
scripts
make_doc.sh
upload.sh
GourceScript.bat
.env
.env.*
version.txt
