# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.cfg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
htmlcov/

# Virtual environment
.env/
venv/
env/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.Trashes
Thumbs.db

# Sensitive information (example)
.env

_build/