__pycache__/
build/
dist/
/CrawlBoardResult.txt
/.pypirc
PTTLibrary.egg-info/
*Out.txt
/Big5Data.txt
PTTLibrary-*/
/PTTLibrary/i18n.txt
/Test.txt
Account*.txt
*.spec
/LogHandler.txt
.vscode
.idea/
venv/
/log.txt
PyPtt.egg-info/
/test_account*.txt
/test_result.txt
*.json
tests/ptt.sh
docs/_build/
.DS_Store
