# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: deploy

# run on merge to master or manual trigger
on:
  pull_request:
    types: [ closed ]
    branches:
      - master
    paths:
      - 'PyPtt/*.py'
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to PyPI and Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build wheel twine requests
      - name: Build package
        run: |
          python -m build
      - name: Publish package to TestPyPI
        if: github.event.branch != 'master'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Publish package
        if: github.event.branch == 'master'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
      - name: Trigger Docker build
        if: github.event.branch == 'master'
        uses: InformaticsMatters/trigger-ci-action@1.0.1
        with:
          ci-owner: PyPtt
          ci-repository: PyPtt_image
          ci-user: PttCodingMan
          ci-ref: refs/heads/main
          ci-user-token: ${{ secrets.ACCESS_TOKEN }}
          ci-name: build PyPtt image
