
name: docs

on:
  workflow_run:
    workflows: [ test ]
    types:
      - completed
  workflow_dispatch:

jobs:
  on-test-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'Don't worry, everything will be fine.'
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: actions/setup-python@master
    - uses: actions/checkout@master
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Build and Commit
      uses: sphinx-notes/pages@v2
      with:
        requirements_path: docs/requirements.txt
    - name: move CNAME
      run: cp docs/CNAME docs/_build/html/
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages